@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover-glow {
    @apply transition-all duration-300 hover:shadow-[0_0_20px_2px_rgba(0,255,255,0.4)];
  }
}

body {
  @apply bg-darkBg text-white font-poppins;
}

html {
  scroll-behavior: smooth;
}
